<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form model=post action='/piglatinize'>
      <label for="user_phrase">Enter your phrase:</label>
      <input type="text" name="user_phrase">
      <input type="submit" name="submit" id="Submit">
    </form>
  </body>
</html>